<footer class="bg-black-20 py-20">
  <div class="container">
    <div class="row">
      <div class="col-md-9 d-flex">
        <img
          src="../assets/images/hiCraft_logo.svg"
          alt="hiCraft"
          class=""
        />
        <ul class="list-unstyled mb-0 ms-6 col-md-7 d-flex flex-column gap-2 justify-content-center">
          <li
            ><a
              href="index.html"
              class="link-black-100"
              >首頁</a
            ></li
          >
          <li
            ><a
              href="about.html"
              class="link-black-100"
              >關於我們</a
            ></li
          >
          <li
            ><a
              class="link-black-100"
              href="user-portfolio.html"
              >個人中心</a
            ></li
          >
        </ul>
      </div>
      <ul class="list-unstyled mb-0 col-md-3 d-flex flex-column gap-26px text-end">
        <li class="d-flex gap-6 justify-content-end"
          ><a href="#"
            ><img
              src="../assets/images/icons/facebook.svg"
              alt="fb link" /></a
          ><a href="#"
            ><img
              src="../assets/images/icons/instagram.svg"
              alt="ig link" /></a
        ></li>
        <li>Copyright © 2023 All rights reserved.</li>
      </ul>
    </div>
  </div>
</footer>
