<div class="loading-mask">
  <div
    class="spinner-border spinner-border-lg text-warning"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<script
  type="module"
  src="/modules/loading-mask.js"
></script>
