<div
  class="modal fade"
  id="modal-reset-password"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modal-reset-password-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-lg-down">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <a
          href="#modal-login"
          class="bi bi-arrow-left fs-5 link-dark"
          role="button"
          data-bs-toggle="modal"
        ></a>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-6 p-lg-12">
        <img
          class="mx-auto"
          src="../assets/images/hiCraft_logo.svg"
        />
        <h2
          id="modal-reset-password-title"
          class="fw-bold mt-8"
        >
          忘記密碼?
        </h2>
        <p class="text-black-50">下方輸入您帳戶的電子郵件，您將收到一封用於重置密碼的電子郵件。</p>
        <form
          action=""
          id="modal-reset-password-form"
        >
          <div class="mb-6">
            <label
              for="reset-password-input-email"
              class="form-label"
              >電子郵件</label
            >
            <input
              type="email"
              class="form-control"
              id="reset-password-input-email"
              placeholder="輸入電子郵件"
              aria-placeholder="輸入電子郵件"
              autocomplete="email"
              required
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100 mb-16"
          >
            發送信件
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <img
        src="../assets/images/hiCraft_logo-light.svg"
        class="me-2"
        width="20px"
        height="20px"
        alt="logo"
      />
      <strong class="me-auto">通知</strong>
      <small class="text-muted">現在</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">我們已將重設密碼連結送至您的信箱</div>
  </div>

  <div
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header text-bg-warning">
      <strong class="me-auto">注意！</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">此網站僅作為切版練習用途，並不會蒐集email資訊與寄送郵件！</div>
  </div>
</div>

<script
  type="module"
  src="/modules/modal-reset-password.js"
></script>
