<div class="d-flex fs-5 fs-lg-3 align-items-center py-3 border-bottom">
  <ul
    class="tags-list tags-list-fold list-inline mb-0 flex-fill scroll-bar-small"
    id="tag-selector-tags"
  >
    <% interests.forEach(item =>{ %>
    <li class="d-inline">
      <label class="btn btn-tag-primary px-lg-5 my-1 cursor-pointer">
        <input
          type="checkbox"
          name="tag<%= item.id %>"
        />
        <span><%= item.titleZH %></span>
      </label>
    </li>
    <% }); %>
  </ul>
  <ul class="list-inline d-flex ms-auto mb-0 py-3 gap-4 position-relative gradient-mask-left">
    <li class="">
      <a
        href="#"
        id="tag-selector-toggle-btn"
        class="bi bi-chevron-down text-secondary"
      ></a>
    </li>
    <li class="dropdown dropdown-center">
      <a
        href="#"
        class="bi bi-filter text-secondary"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ></a>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item active"
            aria-current="true"
            href="#"
            >最多人收藏</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#"
            >最多人觀看</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#"
            >最新</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        tabindex="0"
        id="tag-selector-tips"
        class="bi bi-info-circle text-secondary"
        role="button"
        data-bs-toggle="popover"
        data-bs-placement="top"
        data-bs-trigger="focus"
        title=""
        data-bs-content="選擇要顯示的主題"
      ></a>
    </li>
  </ul>
</div>
<script
  type="module"
  src="/modules/tag-selector.js"
></script>
