<div
  id="tag-selector"
  class="d-flex fs-5 fs-lg-3 align-items-stretch py-3 border-bottom"
>
  <ul class="tags-group tags-group-fold list-inline mb-0 flex-fill py-2">
    <% interests.forEach(item =>{ %>
    <li class="d-inline">
      <label class="btn btn-tag-primary px-lg-5 my-1 cursor-pointer">
        <input
          type="checkbox"
          name="interests"
        />
        <span><%= tagsI18n[item]["zh-TW"] %></span>
      </label>
    </li>
    <% }); %>
  </ul>
  <ul class="list-unstyled d-flex justify-content-end align-items-end mb-0 py-3 ps-5 gap-4 gradient-mask-left">
    <li
      id="tag-selector-toggler"
      class="transition"
    >
      <a
        href="#"
        class="bi bi-chevron-down text-secondary"
      ></a>
    </li>
    <li class="dropdown dropdown-center">
      <a
        href="#"
        class="bi bi-filter text-secondary"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ></a>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item active"
            aria-current="true"
            href="#"
            >最多人收藏</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#"
            >最多人觀看</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#"
            >最新</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        tabindex="0"
        id="tag-selector-tips"
        class="bi bi-info-circle text-secondary"
        role="button"
        data-bs-toggle="popover"
        data-bs-placement="top"
        data-bs-trigger="focus"
        title=""
        data-bs-content="選擇要顯示的主題"
      ></a>
    </li>
  </ul>
</div>
<script
  type="module"
  src="/modules/tag-selector.js"
></script>
