// 生成自訂工具類
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    "border-width": (
      property: border-width,
      class: border,
      responsive: true,
      values: (
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        8: 8px,
      ),
    ),
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
    "border-top":
      map-merge(
        map-get($utilities, "border-top"),
        (
          responsive: true,
        )
      ),
    "border-end":
      map-merge(
        map-get($utilities, "border-end"),
        (
          responsive: true,
        )
      ),
    "border-bottom":
      map-merge(
        map-get($utilities, "border-bottom"),
        (
          responsive: true,
        )
      ),
    "border-start":
      map-merge(
        map-get($utilities, "border-start"),
        (
          responsive: true,
        )
      ),
    "max-width": (
      property: max-width,
      class: mw,
      values: (
        100: 100%,
        "1060px": 1060px,
      ),
    ),
  )
);
