<div class="p-4 p-md-8 p-lg-12 mb-8 bg-primary-subtle border border-primary-light border-3 rounded">
  <div class="row gy-8">
    <div class="col-md-4 d-flex flex-column align-items-center gap-6">
      <img
        class="mw-300px rounded-circle ratio-self-1x1 object-fit-cover border border-5 border-primary-subtle"
        src="../assets/images/portfolio/avatar.jpg"
        alt="avatar"
      />
      <a
        href="#"
        class="btn btn-lg btn-primary-light"
        >關注<i class="bi bi-plus-lg ms-2 fw-bold"></i
      ></a>
    </div>
    <div class="col-md-8 d-flex flex-column">
      <div class="mb-auto">
        <h3 class="my-4">關於我 :</h3>
        <p class="ps-md-2 mb-6 fs-lg-6 text-break"
          >你好我是XXX，我喜歡製作羊毛氈 <br />
          如果喜歡我的作品可以到我的賣場支持我喔
        </p>
      </div>
      <div>
        <h3 class="d-inline-block align-middle mb-4">我的賣場 :</h3>
        <ul class="list-inline d-inline-flex flex-wrap align-middle gap-4 mb-4 ps-4">
          <li
            ><a
              href="#"
              class="btn btn-primary"
              >蝦皮</a
            ></li
          >
          <li
            ><a
              href="#"
              class="btn btn-primary"
              >露天</a
            ></li
          >
        </ul>
      </div>
    </div>
    <div class="col-12">
      <ul class="list-inline d-flex flex-wrap justify-content-center justify-content-lg-start gap-6 fs-3 ps-0 ps-lg-9">
        <li
          ><a href="#"><i class="bi bi-twitter"></i></a
        ></li>
        <li
          ><a href="#"><i class="bi bi-instagram"></i></a
        ></li>
        <li
          ><a href="#"><i class="bi bi-facebook"></i></a
        ></li>
        <li
          ><a href="#"><i class="bi bi-whatsapp"></i></a
        ></li>
        <li
          ><a href="#"><i class="bi bi-telegram"></i></a
        ></li>
        <li
          ><a href="#"><i class="bi bi-envelope-fill"></i></a
        ></li>
      </ul>
    </div>
  </div>
</div>
