<div class="d-flex flex-column align-items-center mb-12">
  <div
    class="gallery row row-cols-1 row-cols-sm-2 row-cols-lg-3 mt-6 overflow-hidden gradient-mask-y"
    data-filter="<%= filter %>"
  >
  </div>
  <a class="load-img btn btn-lg btn-primary-white">看更多</a>
</div>
