<section class="container">
  <h2>精選作品</h2>
  <div class="row">
    <div class="col-6 col-md-4 flow">
      <img src="https://fakeimg.pl/600x800/" />
      <img src="https://fakeimg.pl/1500x1000/" />
      <img src="https://fakeimg.pl/1000x1000/" />
      <img src="https://fakeimg.pl/800x600/" />
      <img src="https://fakeimg.pl/1280x800/" />
    </div>
    <div class="col-6 col-md-4 flow">
      <img src="https://fakeimg.pl/1000x1000/" />
      <img src="https://fakeimg.pl/1500x1000/" />
      <img src="https://fakeimg.pl/600x800/" />
      <img src="https://fakeimg.pl/1280x800/" />
      <img src="https://fakeimg.pl/800x600/" />
    </div>
    <div class="col-6 col-md-4 flow">
      <img src="https://fakeimg.pl/1500x1000/" />
      <img src="https://fakeimg.pl/1280x800/" />
      <img src="https://fakeimg.pl/1000x1000/" />
      <img src="https://fakeimg.pl/800x600/" />
      <img src="https://fakeimg.pl/600x800/" />
    </div>
  </div>
</section>
