<div class="position-relative">
  <div
    class="gallery row row-cols-1 row-cols-sm-2 row-cols-lg-3 mt-6"
    data-filter="<%= filter %>"
  >
    <div class="col d-flex flex-column">
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select1.png"
        />
      </a>
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select4.png"
        />
      </a>
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select7.png"
        />
      </a>
    </div>
    <div class="col d-flex flex-column">
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select2.png"
        />
      </a>
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select5.png"
        />
      </a>
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select8.png"
        />
      </a>
    </div>
    <div class="col d-flex flex-column">
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select3.png"
        />
      </a>
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select6.png"
        />
      </a>
      <a href="craft.html">
        <img
          class="gallery-img w-100 d-block py-3"
          src="/assets/images/select/craft-select9.png"
        />
      </a>
    </div>
  </div>
  <div class="gradient-mask-y">
    <% if (route === '/') { %>
    <button
      type="button"
      class="btn py-4 px-12 fw-bold bg-white border border-black-40"
      >看更多</button
    >
    <% } %>
  </div>
</div>
