<div class="position-relative">
  <div class="gallery row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-6"> </div>
  <div class="gradient-mask-y">
    <% if (route === '/') { %>
    <button
      type="button"
      class="btn py-4 px-12 fw-bold bg-white border border-black-40"
      >看更多</button
    >
    <% } %>
  </div>
</div>
