<section class="bg-white-brick py-30">
  <div class="container position-relative">
    <div class="d-flex justify-content-center align-items-center gap-2">
      <h2 class="m-0">精選作品 </h2>
      <img
        src="../assets/images/hiCraft_logo-light.svg"
        alt="hiCraft"
      />
    </div>
    <div class="row mt-6">
      <div class="mt-6 col col-sm-6 col-md-4 d-flex flex-column gap-6 align-items-center">
        <a href="#">
          <img
            src="../assets/images/craft-select1.png"
            alt="product1"
          /> </a
        ><a href="#">
          <img
            src="../assets/images/craft-select4.png"
            alt="product4"
          /> </a
        ><a href="#">
          <img
            src="../assets/images/craft-select7.png"
            alt="product7"
          />
        </a>

        <!-- <img src="https://fakeimg.pl/600x800/" />
        <img src="https://fakeimg.pl/1500x1000/" />
        <img src="https://fakeimg.pl/1000x1000/" />
        <img src="https://fakeimg.pl/800x600/" />
        <img src="https://fakeimg.pl/1280x800/" /> -->
      </div>
      <div class="mt-6 col-sm-6 col-md-4 d-flex flex-column gap-6 align-items-center">
        <a href="#">
          <img
            src="../assets/images/craft-select2.png"
            alt="product2"
          />
        </a>
        <a href="#">
          <img
            src="../assets/images/craft-select5.png"
            alt="product5"
          />
        </a>
        <a href="#">
          <img
            src="../assets/images/craft-select8.png"
            alt="product8"
          />
        </a>
        <!-- <img src="https://fakeimg.pl/1000x1000/" />
        <img src="https://fakeimg.pl/1500x1000/" />
        <img src="https://fakeimg.pl/600x800/" />
        <img src="https://fakeimg.pl/1280x800/" />
        <img src="https://fakeimg.pl/800x600/" /> -->
      </div>
      <div class="mt-6 col-sm-6 col-md-4 d-flex flex-column gap-6 align-items-center">
        <a href="#">
          <img
            src="../assets/images/craft-select3.png"
            alt="product3"
          />
        </a>
        <a href="#">
          <img
            src="../assets/images/craft-select6.png"
            alt="product6"
          />
        </a>
        <a href="#">
          <img
            src="../assets/images/craft-select9.png"
            alt="product9"
          />
        </a>

        <!-- <img src="https://fakeimg.pl/1500x1000/" />
        <img src="https://fakeimg.pl/1280x800/" />
        <img src="https://fakeimg.pl/1000x1000/" />
        <img src="https://fakeimg.pl/800x600/" />
        <img src="https://fakeimg.pl/600x800/" /> -->
      </div>
      <div class="gradient-mask-y">
        <button
          type="button"
          class="btn py-4 px-12 fw-bold bg-white border border-black-40"
          >看更多</button
        >
      </div>
    </div>
  </div>
</section>
