<header class="bg-black-20 py-8">
    <div class="container d-flex justify-content-between">
        <div class="row align-items-start">
            <img src="../assets/images/hicraft.jpg" alt="hiCraft" class="col">
            <div class="col gx-2 d-flex ">
                <a href="#" class="link-black-100">好物推薦</a>
                <a href="#" class="link-black-100">關注中</a>
            </div>
            <div class="col">
                <img src="../assets/images/box-arrow-up.jpg" alt="hiCraft">
                <img src="../assets/images/bell-circle.jpg" alt="hiCraft">
                <img src="../assets/images/person.jpg" alt="hiCraft">
            </div>
        </div>
    </div>
</header>
