<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header py-10 py-lg-20 justify-content-center bg-light position-relative">
        <h1
          class="modal-title"
          id="exampleModalLabel"
          >什麼主題是你有興趣的</h1
        >
        <button
          type="button"
          class="btn-close position-absolute top-0 end-0 m-0 p-4"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex flex-wrap column-gap-5 row-gap-6 py-20 px-xl-20 justify-content-center">
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/1024x768/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
        <label class="img-checkbox">
          <input
            type="checkbox"
            name="編織"
          />
          <img src="https://fakeimg.pl/400/" />
          <i class="img-checkbox__icon-checked fs-3 bi bi-check-circle-fill"></i>編織
        </label>
      </div>
      <div class="modal-footer row justify-content-center pb-xl-12">
        <button
          type="submit"
          class="btn btn-primary col-5"
          data-bs-dismiss="modal"
          aria-label="Close"
          >確定</button
        >
      </div>
    </div>
  </div>
</div>
