<div
  class="modal fade"
  id="interestModal"
  tabindex="-1"
  aria-labelledby="interestModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header py-10 py-lg-20 justify-content-center bg-light position-relative">
        <h1
          class="modal-title"
          id="interestModalLabel"
          >什麼主題是你有興趣的</h1
        >
        <button
          type="button"
          class="btn-close position-absolute top-0 end-0 m-0 p-4"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container p-6 p-lg-12">
          <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 gx-5 gy-6">
            <% category.forEach((item , index)=>{ %>
            <div class="col">
              <label class="img-checkbox w-100">
                <input
                  type="checkbox"
                  name="<%= item %>"
                />
                <img
                  src="../assets/images/category/<%= item %>.jpg"
                  alt="category<%= index %>"
                />
                <i class="img-checkbox-mark fs-3 bi bi-check-circle-fill"></i><%= item %>
              </label>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="modal-footer row justify-content-center pb-xl-12">
        <button
          type="submit"
          class="btn btn-primary col-5"
          data-bs-dismiss="modal"
          aria-label="Close"
          >確定</button
        >
      </div>
    </div>
  </div>
</div>
