<div
  class="modal fade"
  id="ResetPassword-Form"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="ResetPasswordLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-lg-down">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <a
          href="#Login-Form"
          class="bi bi-arrow-left fs-5 link-dark"
          role="button"
          data-bs-toggle="modal"
        ></a>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-6 p-lg-12">
        <img
          class="mx-auto"
          src="../assets/images/hiCraft_logo.svg"
        />
        <h2 class="fw-bold mt-8">忘記密碼?</h2>
        <p class="text-black-50">下方輸入您帳戶的電子郵件，您將收到一封用於重置密碼的電子郵件。</p>
        <form
          action=""
          onsubmit="window.alert('我們已經將重設密碼連結傳送到您的信箱')"
        >
          <div class="mb-6">
            <label
              for="ResetPassword-InputEmail"
              class="form-label"
              >電子郵件</label
            >
            <input
              type="email"
              class="form-control"
              id="ResetPassword-InputEmail"
              placeholder="輸入電子郵件"
              aria-placeholder="輸入電子郵件"
              required
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100 mb-16"
            >發送信件</button
          >
        </form>
      </div>
    </div>
  </div>
</div>
