<div class="container d-flex fs-5 fs-lg-3 align-items-center py-3 border-bottom">
  <ul
    class="list-inline mb-0 flex-fill scroll-bar-small tags-list-fold"
    id="tagsList"
  >
    <% interests.forEach(item =>{ %>
    <li class="d-inline">
      <label class="btn btn-tag-primary px-lg-5 my-1 cursor-pointer">
        <input
          type="checkbox"
          name="tag<%= item.id %>"
        />
        <span><%= item.titleZH %></span>
      </label>
    </li>
    <% }); %>
  </ul>
  <ul class="list-inline d-flex ms-auto mb-0 py-3 gap-4 position-relative gradient-mask-left">
    <li class="">
      <a
        href="#"
        id="tagsToggle"
        class="bi bi-chevron-down text-secondary"
      ></a
    ></li>
    <li class="dropdown dropdown-center">
      <a
        href="#"
        class="bi bi-filter text-secondary"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ></a>
      <ul class="dropdown-menu">
        <li
          ><a
            class="dropdown-item active"
            aria-current="true"
            href="#"
            >最多人收藏</a
          ></li
        >
        <li
          ><a
            class="dropdown-item"
            href="#"
            >最多人觀看</a
          ></li
        >
        <li
          ><a
            class="dropdown-item"
            href="#"
            >最新</a
          ></li
        >
      </ul>
    </li>
    <li>
      <a
        tabindex="0"
        id="tagListTips"
        class="bi bi-info-circle text-secondary"
        role="button"
        data-bs-toggle="popover"
        data-bs-placement="top"
        data-bs-trigger="focus"
        title=""
        data-bs-content="選擇要顯示的主題"
      ></a>
    </li>
  </ul>
</div>
<script>
  const tagsList = document.querySelector("#tagsList");
  const tagsToggle = document.querySelector("#tagsToggle");

  tagsToggle.addEventListener("click", () => {
    tagsList.classList.toggle("tags-list-fold");
    tagsList.classList.toggle("tags-list-expend");
    tagsList.parentElement.classList.toggle("flex-wrap");
    tagsToggle.parentElement.classList.toggle("rotate-180");
  });
</script>
