/* 擴增/覆蓋 Bootstrap元件的樣式 */
.nav {
  &-tabs-lg {
    --bs-nav-link-font-size: 20px;
  }
  &-topic {
    .nav-link {
      background-color: $black-40;
      color: $black-80;
    }
  }
}

.offcanvas {
  &.show,
  &.showing {
    .nav-link {
      color: $light;
    }
  }
}
.navbar-brand {
  @include media-breakpoint-down(lg) {
    width: 160px;
  }
}
.btn {
  &-primary {
    color: #fff;
  }
  &.btn-primary-white {
    border-color: $primary-border-subtle;
    background-color: #fff;
    color: $primary-text-emphasis;
    &:hover,
    &:active {
      background-color: $primary;
      color: $primary-light;
    }
  }

  &.btn-tag-primary {
    border-radius: 25px;
    border-color: $primary-border-subtle;
    background-color: $primary-bg-subtle;
    color: $primary-text-emphasis;
    &:hover,
    &:active {
      background-color: $primary;
      color: $primary-light;
    }
  }
  &.btn-tag-secondary {
    border-radius: 25px;
    border-color: $secondary-border-subtle;
    background-color: $secondary-bg-subtle;
    color: $secondary-text-emphasis;
    &:hover,
    &:active {
      background-color: $secondary;
      color: $secondary-light;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($secondary, $focus-ring-opacity);
    }
  }
}
.accordion {
  &-qa {
    .accordion-body::before {
      content: "A:";
      margin-right: 1rem;
    }
    .accordion-button::before {
      content: "Q:";
      margin-right: 1rem;
    }
  }
}
.spinner-border {
  &-lg {
    width: 60px;
    height: 60px;
  }
}
