.festival-card {
  display: block;
  position: relative;
  z-index: 1;
  padding: 48px 32px;
  color: $light;
  &-title {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  &-date {
    font-size: 20px;
    font-weight: 900;
  }
  &-fathers-day {
    background: linear-gradient(90deg, #84623a 34.01%, rgba(132, 98, 58, 0) 77.64%),
      center / cover no-repeat url("/assets/images/fastival/FathersDay.png");
    &:hover {
      background: linear-gradient(90deg, #84623a 34.01%, rgba(132, 98, 58, 0.82) 77.64%),
        center / cover no-repeat url("/assets/images/fastival/FathersDay.png");
    }
  }
  &-mid-autumn {
    background: linear-gradient(90deg, #d0a768 34.01%, rgba(208, 167, 104, 0) 77.64%),
      center / cover no-repeat url("/assets/images/fastival/Mid-Autumn-Festival.png");
    &:hover {
      background: linear-gradient(90deg, #d0a768 34.01%, rgba(208, 167, 104, 0.82) 77.64%),
        center / cover no-repeat url("/assets/images/fastival/Mid-Autumn-Festival.png");
    }
  }
  &-xmas {
    background: linear-gradient(90deg, #78462b 34.01%, rgba(120, 70, 43, 0) 77.64%),
      center / cover no-repeat url("/assets/images/fastival/Xmas.jpg");
    &:hover {
      background: linear-gradient(90deg, #78462b 34.01%, rgba(120, 70, 43, 0.82) 77.64%),
        center / cover no-repeat url("/assets/images/fastival/Xmas.jpg");
    }
  }
}
.topic-card {
  display: flex;
  padding: 16px;
  color: $dark;
  background: url("../assets/images/stripes-light.webp"), lightgray 0% 0% / 50px 50px repeat;
  overflow: hidden;
  &:hover {
    color: $light;
    background: $primary;
  }
  &-title {
    font-size: 24px;
    overflow: hidden;
  }
  &-sub-title {
    font-size: 14px;
    font-weight: bold;
  }
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 8px 24px;
  }
  &-img {
    width: var(--topic-card-img-width, 100px);
    aspect-ratio: 1;
    object-fit: cover;
  }
}
.img-checkbox {
  cursor: pointer;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  input[type="checkbox"] {
    display: none;
    &:checked ~ .img-checkbox-mark {
      display: block;
    }
  }
  img {
    object-fit: cover;
    max-width: 100%;
  }
  &-mark {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    color: $primary;
    display: none;
  }
}
.bg {
  &-white-brick {
    background-image: url("../images/gridme.webp"), url("../images/stripes-light-1.png");
  }
  &-home-header {
    background: linear-gradient(180deg, #fff 0%, rgba(148, 126, 118, 0.6) 54.17%), url("../images/bg-home-header.jpg"),
      lightgray;
    background-position: center;
    background-size: cover;
    height: 616px;
    @include media-breakpoint-down(lg) {
      height: 376px;
    }
  }
}
.bg-hover {
  &-primary-light {
    &:hover {
      background-color: $primary-light;
      border-radius: 10px;
    }
  }
}

.gradient-mask {
  &-y {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 78.13%);
    padding-top: var(--gradient-mask-spacer, 48px);
    display: flex;
    justify-content: center;
  }
  &-left::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 100%;
    transform: translate(-100%, -50%);
    background: linear-gradient(90deg, transparent, #fff 70%, #fff);
  }
}
.title-display {
  color: var(--color, #fff);
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans TC";
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 24px;
  @include media-breakpoint-down(lg) {
    font-size: 48px;
  }
  @include media-breakpoint-down(md) {
    font-size: 32px;
    margin-bottom: 16px;
  }
}

.tags-list {
  &-fold {
    height: 54px;
    overflow-x: scroll;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
  }

  &-expend {
    height: 150px;
    overflow-y: scroll;
    white-space: normal;
    transition: all 0.5s ease-in-out;
  }
}
