.fw900 {
  font-weight: 900;
}
.h168 {
  height: 168px;
}
.bg-grad-father {
  background: linear-gradient(
      90deg,
      #84623a 34.01%,
      rgba(132, 98, 58, 0) 77.64%
    ),
    url(<path-to-image>),
    transparent 1.75px -286.451px / 100% 291.018% no-repeat;
  &:hover {
    background: linear-gradient(
        90deg,
        #84623a 34.01%,
        rgba(132, 98, 58, 0.82) 77.64%
      ),
      url(<path-to-image>),
      transparent 1.75px -286.451px / 100% 291.018% no-repeat;
  }
}
.bg-grad-moon {
  background: linear-gradient(
      90deg,
      #d0a768 34.01%,
      rgba(208, 167, 104, 0) 77.64%
    ),
    url(<path-to-image>),
    transparent 1.75px -286.451px / 100% 291.018% no-repeat;
  &:hover {
    background: linear-gradient(
        90deg,
        #d0a768 34.01%,
        rgba(208, 167, 104, 0.82) 77.64%
      ),
      url(<path-to-image>),
      transparent 1.75px -286.451px / 100% 291.018% no-repeat;
  }
}

.bg-grad-xmas {
  background: linear-gradient(
      90deg,
      #78462b 34.01%,
      rgba(120, 70, 43, 0) 77.64%
    ),
    url(<path-to-image>),
    transparent 1.75px -286.451px / 100% 291.018% no-repeat;
  &:hover {
    background: linear-gradient(
        90deg,
        #78462b 34.01%,
        rgba(120, 70, 43, 0.82) 77.64%
      ),
      url(<path-to-image>),
      transparent 1.75px -286.451px / 100% 291.018% no-repeat;
  }
}

.left {
  transform: translatey(-20%);
  left: 5%;
}
.right {
  right: 5%;
  transform: translatey(-20%);
}

.fastival {
  &-image-father {
    object-fit: cover;
    object-position: 95px -15px;
  }
  &-image-moon {
    object-fit: cover;
    object-position: 0px -58px;
  }
  &-image-xmas {
    object-fit: cover;
    object-position: 0px -285px;
  }
}
.fastival-text {
  padding-right: 288px;
}
.fastival-name {
  margin-bottom: 10px;
}
.fastival-date {
  font-size: 20px;
}
