.lh120 {
  line-height: 120%;
}
.h132 {
  height: 132px;
}
.await {
  color: var(--black-80, #525252);
  font-size: 24px;
  line-height: 120%;
  background: var(--black-40, #d1d1d1);
  &:hover {
    color: var(--black-0, #fff);
    background-color: $primary;
    border: 0px;
  }
}
.topic-btn {
  padding: 16px 111px;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 4px 4px 0px 0px;
}
.topic-card {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/stripes-light.png);
  flex: 1 0 0;
  &:not(:last-child) {
    margin-right: 24px;
  }
  &:hover {
    background: $primary;
    p {
      color: #fff;
    }
  }
}
.topic-image {
  width: 100px;
  height: 100px;
}
.topic-text {
  flex: 1 0 0;
}
.topic-en {
  line-height: 150%;
}
