/* 工具類 */
.gap-26px {
  gap: 26px;
}
.transition {
  transition: all 0.3s ease-in-out;
}
.rotate-180 {
  transform: rotate(180deg);
}
.translate-top {
  transform: translateY(-100%);
}

// 生成自訂bootstrap工具類
$utilities: map-merge(
  $utilities,
  (
    "max-width": (
      property: max-width,
      class: mw,
      values: (
        100: 100%,
        "1060px": 1060px,
        "800px": 800px,
        "300px": 300px,
        "200px": 200px,
        "100px": 100px,
      ),
    ),
    "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        "25px": 25px,
        "50px": 50px,
        "100px": 100px,
        "300px": 300px,
      ),
    ),

    "height": (
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        "25px": 25px,
        "50px": 50px,
        "100px": 100px,
        "300px": 300px,
      ),
    ),

    "cursor": (
      property: cursor,
      class: cursor,
      values: auto pointer grab,
    ),
    "ratio-self": (
      property: aspect-ratio,
      class: ratio-self,
      values: (
        "1x1": 1,
        "3x2": calc(3 / 2),
      ),
    ),
    "opacity": (
      property: opacity,
      state: focus,
      values: (
        0: 0,
        25: 0.25,
        50: 0.5,
        75: 0.75,
        100: 1,
      ),
    ),
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    "border-width": (
      property: border-width,
      class: border,
      responsive: true,
      values: (
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        8: 8px,
      ),
    ),
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
    "border-top":
      map-merge(
        map-get($utilities, "border-top"),
        (
          responsive: true,
        )
      ),
    "border-end":
      map-merge(
        map-get($utilities, "border-end"),
        (
          responsive: true,
        )
      ),
    "border-bottom":
      map-merge(
        map-get($utilities, "border-bottom"),
        (
          responsive: true,
        )
      ),
    "border-start":
      map-merge(
        map-get($utilities, "border-start"),
        (
          responsive: true,
        )
      ),
  )
);
