<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>hiCraft | 搜尋好設計、好點子</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
  </head>
  <body>
    <%- include('./modules/navbar.ejs',{enableCollapseSearch:true }); -%>
    <nav class="border-bottom">
      <div
        class="nav nav-underline nav-tabs-lg container justify-content-center align-items-center gap-lg-12"
        id="nav-tab"
        role="tablist"
      >
        <button
          class="nav-link py-4 active"
          id="nav-hot-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-hot"
          type="button"
          role="tab"
          aria-controls="nav-hot"
          aria-selected="true"
        >
          熱門作品
        </button>
        <span class="vr text-secondary"></span>
        <button
          class="nav-link py-4"
          id="nav-newcomer-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-newcomer"
          type="button"
          role="tab"
          aria-controls="nav-newcomer"
          aria-selected="false"
        >
          新人作品
        </button>
        <span class="vr text-secondary"></span>
        <button
          class="nav-link py-4"
          id="nav-topic-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-topic"
          type="button"
          role="tab"
          aria-controls="nav-topic"
          aria-selected="false"
        >
          主題作品
        </button>
      </div>
    </nav>
    <div
      class="container tab-content py-16"
      id="nav-tabContent"
    >
      <div
        class="tab-pane fade show active"
        id="nav-hot"
        role="tabpanel"
        aria-labelledby="nav-hot-tab"
        tabindex="0"
      >
        <header>
          <h1 class="border-bottom border-3 d-flex justify-content-between align-items-center">
            熱門作品
            <div class="dropdown">
              <a
                href="#"
                class="bi bi-filter-square-fill fs-3 text-secondary"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最多人收藏
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最多人觀看
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最新
                  </a>
                </li>
              </ul>
            </div>
          </h1>
        </header>
        <ul
          id="gallery-hot"
          class="gallery"
        ></ul>
        <a
          id="load-gallery-hot"
          href=""
          class="btn btn-primary-white btn-lg mt-16 mx-auto d-block"
          >載入更多
        </a>
      </div>
      <div
        class="tab-pane fade"
        id="nav-newcomer"
        role="tabpanel"
        aria-labelledby="nav-newcomer-tab"
        tabindex="0"
      >
        <header>
          <h1 class="border-bottom border-3 d-flex justify-content-between align-items-center">
            新人作品
            <div class="dropdown">
              <a
                href="#"
                class="bi bi-filter-square-fill fs-3 text-secondary"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最多人收藏</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最多人觀看</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最新</a
                  >
                </li>
              </ul>
            </div>
          </h1>
        </header>
        <ul
          id="gallery-newcomer"
          class="gallery"
        ></ul>
        <a
          id="load-gallery-newcomer"
          href=""
          class="btn btn-primary-white btn-lg mt-16 mx-auto d-block"
          >載入更多
        </a>
      </div>
      <div
        class="tab-pane fade"
        id="nav-topic"
        role="tabpanel"
        aria-labelledby="nav-topic-tab"
        tabindex="0"
      >
        <header>
          <h1 class="border-bottom border-3 d-flex justify-content-between align-items-center">
            歡慶節日
            <div class="dropdown">
              <a
                href="#"
                class="bi bi-filter-square-fill fs-3 text-secondary"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最多人收藏</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最多人觀看</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >最新</a
                  >
                </li>
              </ul>
            </div>
          </h1>
        </header>
        <ul
          id="gallery-topic"
          class="gallery"
        ></ul>
        <a
          id="load-gallery-topic"
          href=""
          class="btn btn-primary-white btn-lg mt-16 mx-auto d-block"
          >載入更多
        </a>
      </div>
    </div>
    <%- include('./modules/footer.ejs'); -%>
    <!--  -->
    <%- include('./modules/loading-mask'); -%>
    <script
      type="module"
      src="../main.js"
    ></script>
    <script type="module">
      import { debounce } from "/assets/js/utils.js";
      import Gallery from "/assets/js/Gallery.js";
      const baseURL = import.meta.env.BASE_URL;

      window.addEventListener("load", async () => {
        const craftsResponse = await fetch(baseURL + "data/crafts.json").catch((err) => {
          throw new Error("HTTP error! status: " + err.status);
        });
        const tagGroupsResponse = await fetch(baseURL + "data/tag-groups.json").catch((err) => {
          throw new Error("Failed to fetch tag-groups data");
        });

        const [craftsData, tagGroups] = await Promise.all([craftsResponse.json(), tagGroupsResponse.json()]);
        const hotCrafts = craftsData.filter((craft) => craft.tags.some((tag) => tag === "Popular"));
        const newComerCrafts = craftsData.filter((craft) =>
          craft.tags.some((tag) => tagGroups?.newcomer.includes(tag))
        );
        const topicCrafts = craftsData.filter((craft) => craft.tags.some((tag) => tagGroups?.topic.includes(tag)));

        const panel = {
          "nav-hot-tab": {
            gallery: document.querySelector("#gallery-hot"),
            loadButton: document.querySelector("#load-gallery-hot"),
            crafts: hotCrafts,
          },
          "nav-newcomer-tab": {
            gallery: document.querySelector("#gallery-newcomer"),
            loadButton: document.querySelector("#load-gallery-newcomer"),
            crafts: newComerCrafts,
          },
          "nav-topic-tab": {
            gallery: document.querySelector("#gallery-topic"),
            loadButton: document.querySelector("#load-gallery-topic"),
            crafts: topicCrafts,
          },
        };

        const tabs = document.querySelectorAll("#nav-hot-tab,#nav-newcomer-tab,#nav-topic-tab");
        tabs.forEach((tab) => {
          tab.addEventListener("shown.bs.tab", (event) => {
            const id = event.target.getAttribute("id");
            if (!id in panel) return;
            if (panel[id].gallery.childElementCount > 0) return;
            const gallery = new Gallery(panel[id].gallery, {
              imgURLs: panel[id].crafts.map((craft) => craft.imgURLs[0]),
              loadButton: panel[id].loadButton,
              loadAmount: 8,
            });
            window.addEventListener(
              "resize",
              debounce(
                () => gallery.container.querySelectorAll(".gallery-item").forEach((item) => gallery.resizeItem(item)),
                100
              )
            );
          });
        });

        const activeTab = Array.from(tabs).find((tab) => tab.classList.contains("active"));
        if (activeTab) activeTab.dispatchEvent(new Event("shown.bs.tab"));
      });
    </script>
  </body>
</html>
