<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <header class="bg-home-header">
      <div class="container my-auto">
        <h1 class="title-display">搜尋好設計、好點子</h1>
        <%- include('./layout/search-bar'); -%>
      </div>
    </header>
    <%- include('./layout/gallery'); -%> <%- include('./layout/footer'); -%>
    <script
      type="module"
      src="../main.js"
    ></script>
  </body>
</html>
