<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>hiCraft | 搜尋好設計、好點子</title>
  </head>
  <body>
    <%- include('./layout/navbar.ejs',{enableCollapseSearch:true ,route:'/interest'}); -%>
    <header> <%- include('./layout/tags-selector.ejs'); -%> </header>
    <main class="container"> <%- include('./layout/gallery.ejs',{route:'/interest'}); -%> </main>
    <%- include('./layout/footer.ejs'); -%>
    <!--  -->
    <%- include('./layout/loading'); -%>
    <script
      type="module"
      src="../main.js"
    ></script>
  </body>
</html>
