<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>hiCraft | 搜尋好設計、好點子</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
  </head>
  <body>
    <%- include('./modules/navbar.ejs',{enableCollapseSearch:true ,route:'/interest'}); -%>
    <header><%- include('./modules/tag-selector.ejs'); -%></header>
    <main class="container"><%- include('./modules/gallery.ejs',{route:'/interest'}); -%></main>
    <%- include('./modules/footer.ejs'); -%>
    <!--  -->
    <%- include('./modules/loading-mask'); -%>
    <script
      type="module"
      src="../main.js"
    ></script>
  </body>
</html>
