<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>hiCraft | 搜尋好設計、好點子</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
  </head>
  <body>
    <%- include('./modules/navbar.ejs'); -%>
    <main class="container my-3 my-md-8">
      <%- include('./modules/about-me.ejs'); -%>
      <h2 class="mb-8">作品:</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 gy-6">
        <% for(let i=0 ; i < 12; i++){ %>
        <a
          class="col"
          href="craft.html"
        >
          <img
            class="w-100 h-300px object-fit-cover"
            src="../assets/images/portfolio/fake<%= i+1 %>.jpg"
            alt="craft image"
          />
        </a>
        <% } %>
      </div>
      <nav
        class="mt-8"
        aria-label="Page navigation"
      >
        <ul class="pagination justify-content-center gap-1">
          <li class="page-item">
            <a
              class="page-link"
              href="#"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link active"
              href="#"
              >1</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="#"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </main>
    <%- include('./modules/footer.ejs'); -%>
    <!--  -->
    <%- include('./modules/loading-mask'); -%>
    <script
      type="module"
      src="../main.js"
    ></script>
  </body>
</html>
